<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Menu</h2>
      <p>Confira Nossos <span>Planos de negócio</span></p>
    </div>
    <div class="d-md-flex post-entry-2 small-img">
      <a href="single-post.html" class="me-4 thumbnail">
        <img src="assets/img/banner01.jpg" alt="" class="img-fluid">
      </a>
      <div>
        <h3><a href="single-post.html">Plano Básico</a></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet error iusto nesciunt sint cum possimus officia, fuga minus deserunt obcaecati harum sapiente suscipit rerum doloremque praesentium qui modi earum debitis! Voluptate esse rerum molestias ducimus, sed dolores laboriosam incidunt illum saepe laborum a aperiam at totam illo! </p>
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="m-0 p-0">Comprar Por Apenas R$ 99,00</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-flex post-entry-2 small-img">
      <a href="single-post.html" class="me-4 thumbnail">
        <img src="assets/img/banner04.jpg" alt="" class="img-fluid">
      </a>
      <div>
        <h3><a href="single-post.html">Plano Prata</a></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet error iusto nesciunt sint cum possimus officia, fuga minus deserunt obcaecati harum sapiente suscipit rerum doloremque praesentium qui modi earum debitis! Voluptate esse rerum molestias ducimus, sed dolores laboriosam incidunt illum saepe laborum a aperiam at totam illo! </p>
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="m-0 p-0">Comprar Por Apenas R$ 289,00</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="d-md-flex post-entry-2 small-img">
      <a href="single-post.html" class="me-4 thumbnail">
        <img src="assets/img/banner03.jpg" alt="" class="img-fluid">
      </a>
      <div>
        <h3><a href="single-post.html">Plano Ouro</a></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet error iusto nesciunt sint cum possimus officia, fuga minus deserunt obcaecati harum sapiente suscipit rerum doloremque praesentium qui modi earum debitis! Voluptate esse rerum molestias ducimus, sed dolores laboriosam incidunt illum saepe laborum a aperiam at totam illo! </p>
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="m-0 p-0">Comprar Por Apenas R$ 499,00</h3>
          </div>
        </div>
      </div>
    </div>


  </div>
</section><!-- End Menu Section -->
