<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/img/logo-job.png" alt="Logo job">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <section id="events" class="events">
      <div class="container-fluid" data-aos="fade-up">

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(assets/img/banner01.jpg)">
              <h3>Plano Básico</h3>
              <div class="price align-self-start">R$99,00</div>
              <p class="description">
                Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(assets/img/banner02.jpg)">
              <h3>Plano Prata</h3>
              <div class="price align-self-start">R$289,00</div>
              <p class="description">
                In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere nemo vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur.
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(assets/img/banner03.jpg)">
              <h3>Plano Ouro</h3>
              <div class="price align-self-start">R$499,00</div>
              <p class="description">
                Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam. Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.
              </p>
            </div><!-- End Event item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
   </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Sobre</h2>
        <p>Saiba Mais <span>Sobre</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/sobre-04.jpg) ;" data-aos="fade-up" data-aos-delay="150">
          <div class="call-us position-absolute">
            <h4>Nossa Missão</h4>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
            </p>

            <div class="position-relative mt-4">
              <img src="assets/img/sobre-05.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=bmMspXAZkP0" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Por que escolher a Job Resolve?</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn">Saiba Mais <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div><!-- End Why Box -->

        <div class="col-lg-8 d-flex align-items-center">
          <div class="row gy-4">

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-clipboard-data"></i>
                <h4>Visão e valores do negócio</h4>
                <p>Visão e valores são conceitos estratégicos que conferem identidade a um negócio.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-gem"></i>
                <h4>Missão</h4>
                <p>A missão representa o propósito da empresa, ou seja, sua razão de existir.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-inboxes"></i>
                <h4>Modo de negócio</h4>
                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Stats Counter Section ======= -->
  <section id="stats-counter" class="stats-counter">
    <div class="container" data-aos="zoom-out">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clientes</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projetos</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
            <p>Horas de Suporte</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trabalhadores</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>
  </section><!-- End Stats Counter Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Menu</h2>
        <p>Confira Nossos <span>Planos de negócio</span></p>
      </div>
      <div class="d-md-flex post-entry-2 small-img">
        <a href="single-post.html" class="me-4 thumbnail">
          <img src="assets/img/banner01.jpg" alt="" class="img-fluid">
        </a>
        <div>
          <h3><a href="single-post.html">Plano Básico</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet error iusto nesciunt sint cum possimus officia, fuga minus deserunt obcaecati harum sapiente suscipit rerum doloremque praesentium qui modi earum debitis! Voluptate esse rerum molestias ducimus, sed dolores laboriosam incidunt illum saepe laborum a aperiam at totam illo! </p>
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h3 class="m-0 p-0">Comprar Por Apenas R$ 99,00</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="d-md-flex post-entry-2 small-img">
        <a href="single-post.html" class="me-4 thumbnail">
          <img src="assets/img/banner04.jpg" alt="" class="img-fluid">
        </a>
        <div>
          <h3><a href="single-post.html">Plano Prata</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet error iusto nesciunt sint cum possimus officia, fuga minus deserunt obcaecati harum sapiente suscipit rerum doloremque praesentium qui modi earum debitis! Voluptate esse rerum molestias ducimus, sed dolores laboriosam incidunt illum saepe laborum a aperiam at totam illo! </p>
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h3 class="m-0 p-0">Comprar Por Apenas R$ 289,00</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="d-md-flex post-entry-2 small-img">
        <a href="single-post.html" class="me-4 thumbnail">
          <img src="assets/img/banner03.jpg" alt="" class="img-fluid">
        </a>
        <div>
          <h3><a href="single-post.html">Plano Ouro</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet error iusto nesciunt sint cum possimus officia, fuga minus deserunt obcaecati harum sapiente suscipit rerum doloremque praesentium qui modi earum debitis! Voluptate esse rerum molestias ducimus, sed dolores laboriosam incidunt illum saepe laborum a aperiam at totam illo! </p>
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h3 class="m-0 p-0">Comprar Por Apenas R$ 499,00</h3>
            </div>
          </div>
        </div>
      </div>


    </div>
  </section><!-- End Menu Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Contato</h2>
        <p>Precisa de Ajuda? <span>Contacotos</span></p>
      </div>

      <div class="row gy-4">

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Nosso Endereço</h3>
              <p>Blumenau, Santa Catarina</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email </h3>
              <p>contact@example.com</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Telefone</h3>
              <p>(47) 3327-2711</p>
            </div>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
          <div class="info-item  d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Horário de Funcionamento</h3>
              <div><strong>Seg-Sáb:</strong> 8AM - 18PM;
                <strong>Domingo:</strong> Fechado
              </div>
            </div>
          </div>
        </div><!-- End Info Item -->

      </div>

      <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
        <div class="row">
          <div class="col-xl-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
          </div>
          <div class="col-xl-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Mensagem" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Carregando</div>
          <div class="error-message"></div>
          <div class="sent-message">Sua mensagem foi enviada.</div>
        </div>
        <div class="text-center"><button type="submit">Enviar</button></div>
      </form><!--End Contact Form -->

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->


